newProject.xcworkspace/contents.xcworkspacedata
newProject.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
newProject.xcworkspace/xcuserdata/jobs.xcuserdatad/UserInterfaceState.xcuserstate
newProject/Pods
