[submodule "newProject/Vendor/CFFoundation"]
	path = newProject/Vendor/CFFoundation
	url = https://github.com/rongfei3380/CFFoundation
[submodule "newProject/Vendor/CFNetworkKit"]
	path = newProject/Vendor/CFNetworkKit
	url = https://github.com/rongfei3380/CFNetworkKit
